#banner{width:100%;}

.principal{text-align: center;background-color: gray; font-size: 30px; padding: 30px;}

.beneficios{text-align: justify; font-style: italic;font-size:30px; display:inline-block; vertical-align:top; width: 20%; margin-right: 15%; padding: 20px; }

h2{text-align: center; font-size: 30px; padding: 20px;}

#missao{color:red;}

.imagensbeneficios{width: 50%;}
